static/xml/libre.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="texte">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="typetexte" fixed="libre"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="corps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="texte"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="lang"/>
    </xs:complexType>
  </xs:element>
</xs:schema>